In [4]:
import sys, os 
sys.path.append(os.pardir)
from py_class.load_ticker_data import load_ticker_list
load_ticker_list().batch_ticker_list()
load_ticker_list().arange_ticker_list()

In [25]:
df_merge[df_merge['ticker_name_x'] != df_merge['ticker_name_y']]

     ticker ticker_name_x comment   insert_dt   update_dt use_yn ticker_name_y
945  307950          현토에버    신규추가  2024-03-19  2024-03-19      Y        현대오토에버
946  000850            화공    신규추가  2024-03-19  2024-03-19      Y          화천기공
947  005870             휴    신규추가  2024-03-19  2024-03-19      Y           휴니드
948  111110            호업    신규추가  2024-03-19  2024-03-19      Y          호전실업
949  133820           화스틸    신규추가  2024-03-19  2024-03-19      Y         화인베스틸
950  032560           황스티    신규추가  2024-03-19  2024-03-19      Y         황금에스티
951  241590        화터프라이즈    신규추가  2024-03-19  2024-03-19      Y      화승엔터프라이즈

In [21]:
df_merge[df_merge['ticker_name_x'] != df_merge['ticker_name_y']][['ticker','ticker_name_y','comment','insert_dt','update_dt','use_yn']]
changes = df_merge[df_merge['ticker_name_x'] != df_merge['ticker_name_y']][['ticker','ticker_name_y','comment','insert_dt','update_dt','use_yn']]

In [22]:
changes

     ticker ticker_name_y comment   insert_dt   update_dt use_yn
945  307950        현대오토에버    신규추가  2024-03-19  2024-03-19      Y
946  000850          화천기공    신규추가  2024-03-19  2024-03-19      Y
947  005870           휴니드    신규추가  2024-03-19  2024-03-19      Y
948  111110          호전실업    신규추가  2024-03-19  2024-03-19      Y
949  133820         화인베스틸    신규추가  2024-03-19  2024-03-19      Y
950  032560         황금에스티    신규추가  2024-03-19  2024-03-19      Y
951  241590      화승엔터프라이즈    신규추가  2024-03-19  2024-03-19      Y